<html lang="pl">
    <body>
        <%include header %>
        <div class="container">
        <div>jebac disa kkurwe zwisa syna diabła skurwysyna</div>
        <div id="zegar"></div>
        <button class="btn btn-warning" onclick="window.location.href='/druga'">kliknij</button>
        </div>
    </body>
    <%include footer %>
</html>