<html lang="pl">
    <body>       
        <%include header %>
        <div class="container">
            <div>jebac disa kkurwe zwisa</div>       
        <div id="zegar"></div>
        <button class="btn btn-warning" onclick="window.location.href='/druga'">kliknij</button>
        <button class="btn btn-danger" onclick="window.location.href='/sql/createdb'">utworz baze</button>
        </div>
    </body>
        <%include footer %>
</html>
