<html lang="pl">
    <body>
        <%include header %>
        <div class="container">
            <p>Fajnie, ze sie zalogowales!</p>
            <p>Twoj login to: <%= dane.login %></p>
            <p>Twoje haslo to: <%= dane.password %></p>
        </div>
    </body>
    <%include footer %>
</html>